<div class="jumbotron text-center">
    <h1>Create an Event</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %>
                        <br>
                        <% } %>
            </div>
            <% } %>
                <form action="/events/create" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <lable for="description">Description</lable>
                        <textarea name="description" class="form-control" id="description" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg">Create</button>
                    </div>
                </form>
    </div>
</div>